﻿@model AOController.Models.TransactionModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>TransactionModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransactionLog" class="control-label"></label>
             
                <textarea asp-for="TransactionLog" class="form-control" ></textarea>
                <span asp-validation-for="TransactionLog" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Lista de transacciones</a><br />
    <a asp-action="Index">Back to List</a>
</div>

