﻿@model IEnumerable<AOController.Models.DonationsCheckModel>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekOfYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationCheck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekOfYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationCheck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
        </tr>
}
    </tbody>
</table>
